streamlit
twint
numpy
pandas>=0.23.0
matplotlib
scikit-learn
seaborn
nltk
regex
contractions
autocorrect
emoji
unidecode
wordcloud
deep_translator
nest_asyncio
aiohttp==3.7.0
aiodns
beautifulsoup4
cchardet
dataclasses
elasticsearch
pysocks
aiohttp_socks<=0.4.1
schedule
geopy
fake-useragent
googletransx
